{% extends 'base.html' %}

{% block header %}
    <title>ویرایش محصولات</title>
{% endblock header %}

{% block body %}
    {% include 'parts/header.html' %}

    <div>

    </div>
    <section class="product_box center">
        <img class="product-image" src="/static/cover/{{ product.id }}.png">
    </section>
    
    <div class="simple-box add-product">
        <form action="{{ url_for('admin.edit_product', id=product.id) }}" method="post" enctype="multipart/form-data">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <label for="cover">cover : </label><input type="file" name="cover"><br>
            <input type="text" name="name" placeholder="نام محصول" value="{{ product.name }}"><br>
            <textarea name="description" placeholder="توضیحات">{{ product.description }}</textarea><br>
            <h3>قیمت در حال حاضر : <b id="price">{{ product.price  }}</b></h3>
            <input type="text" name="price" placeholder="قیمت محصول" value="{{ product.price }}"><br>
            <label for="active">فعال</label><input type="checkbox" name="active" {{ "checked" if product.active == 1 }}>
            <input type="submit" value="تغییر">
        </form>
    </div>
    
{% endblock body %}