{% extends 'base.html' %}

{% block header %}
    <title>محصولات</title>
{% endblock header %}

{% block body %}
    <h1>صفحه محصولات</h1>
    <table>
        <tr>
            <th>اسم</th>
            <th>توضیحات</th>
            <th>قیمت</th>
            <th>فعال</th>
        </tr>
        
        {% for p in products %}
            <tr>
                <td>{{ p.name }}</td>
                <td>{{ p.description }}</td>
                <td>{{ p.price }}</td>
                <td>{{ "بله" if p.active == 1 else "خیر" }}</td>
                <td><a href="{{ url_for('admin.edit_product', id=p.id) }}">ویرایش</a></td>
            </tr>
        {% endfor %}
            
    </table>
    <form action="#" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type="text" name="name" placeholder="نام محصول"><br>
        <textarea name="description" placeholder="توضیحات"></textarea><br>
        <input type="text" name="price" placeholder="قیمت محصول"><br>
        <label for="active">فعال</label><input type="checkbox" name="active" >
        <input type="submit" value="submit">
    </form>
{% endblock body %}