<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/eggy.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/progressbar.css') }}" />
    {% block header %}

    {% endblock %}
  </head>
  <body>
    {% block body %}
        
    {% endblock %}
    <script>

      document.querySelectorAll('#price').forEach(price => {
            price.textContent = Number(price.textContent).toLocaleString('fa-IR') + "تومان";
        });
      
      const header_menu = document.getElementById('header_menu')
      const change_header_menu = (show) => {
          if (show) {
            header_menu.style.height = header_menu.scrollHeight + "px";
          } else {
            header_menu.style.height = "0";
          }
        };
    </script>
    <script type="module">
      import { Eggy } from '{{ url_for('static' , filename='js/eggy.js') }}';
      {% for m in get_flashed_messages() %}
        Eggy({
          title:  'اطلاعات',
          message:  "{{ m }}",
          position: 'top-left',
          type: 'info',
          duration: 5000,
        });
          
      {% endfor %}
    </script>
  </body>
</html>
