{% extends 'base.html' %}

{% block header %}
  <title>{{ my_config.SITE_NAME }}</title>
{% endblock %}

{% block body %}
  {% include 'parts/header.html' %}

  <div id="slide-show">
    <img class="baner" src="{{ url_for('static', filename=my_config.BANER1_FILE_ADDRESS) }}" alt="" />
    <a href="http://10.184.166.31:5000/?search=%D9%84%D9%BE+%D8%AA%D8%A7%D9%BE"><img class="baner" src="{{ url_for('static', filename=my_config.BANER2_FILE_ADDRESS) }}" alt="" /></a>
    <a href="http://10.184.166.31:5000/?search=%D9%85%D9%88%D8%A8%D8%A7%DB%8C%D9%84"><img class="baner" src="{{ url_for('static', filename=my_config.BANER3_FILE_ADDRESS) }}" alt="" /></a>
  </div>

  <section class="products">
    {% for p in products %}
      {% include 'parts/product.html' %}
    {% endfor %}
  </section>
  <script>
    const slides = document.getElementsByClassName('baner')
    
    let current = 0
    
    function changeSlide() {
      const oldSlide = slides[current]
    
      current++
    
      if (current >= slides.length) {
        current = 0
      }
    
      const newSlide = slides[current]
    
      oldSlide.classList.remove('active')
      oldSlide.classList.add('old')
    
      newSlide.classList.remove('old')
      newSlide.classList.add('active')
    
      setTimeout(() => {
        oldSlide.classList.remove('old')
      }, 800)
    }
    
    slides[0].classList.add('active')
    
    setInterval(changeSlide, 3000)
  </script>
{% endblock %}
