{% extends 'base.html' %}

{% block header %}
    <title>{{ product.name }}</title>
{% endblock header %}

{% block body %}
    {% include 'parts/header.html' %}

    <div class="product-detail-box">
        <div>
            <img src="/static/cover/{{ product.id }}.png" style="width: 300px;" />
        </div>
        <section>
            <h1>{{ product.name }}</h1>
            <h4>شماره محصول : {{ product.id }}</h4>
            <div class="price">
                <b>{{ '{:,}'.format(product.price) }}</b> <b>تومان</b>
                <a class="add-to-cart-btn2" href="/add-to-cart?id={{ product.id }}">افزودن به سبد خرید</a>
            </div>
        </section>
    </div>

    <article class="product-description-box">
        <h2>مشخصات</h2>
        <p>{{ product.description }}</p>
    </article>
{% endblock body %}