{% extends 'base.html' %}

{% block header %}
    <title>سبد خرید </title>
{% endblock header %}

{% block body %}
    
    {% include 'parts/header.html' %}
    

    <section class="simple-box">
        {% if cart != None and cart.cart_items|list|length > 0 %}
            <table class="cart">
                <tr>
                    <th>محصول</th>
                    <th>تعداد</th>
                    <th>قیمت</th>
                </tr>

                {% for cart_item in cart.cart_items %}
                    <tr>
                        <td>
                            {{ cart_item.product.name }}
                        </td>

                        <td>
                            <a class="cartitem-btn remove" href="/remove-from-cart?id={{ cart_item.id }}">-</a>{{ cart_item.quantity }}<a class="cartitem-btn add" href="/add-to-cart?id={{ cart_item.product.id }}">+</a>
                        </td>

                        <td id="price">
                            {{ cart_item.product.price }}
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td> قیمت کل :</td>
                    <td></td>
                    <td id="price">{{ cart.total_price() }}</td>
                </tr>
            </table>
            <a class="pay-btn" href="/payment">پرداخت</a>

        {% else %}
        سبد خرید خالی است
        {% endif %}
    </section>

    
{% endblock body %}