{% extends 'base.html' %}

{% block header %}
    <title>ورود/ثبت نام </title>
{% endblock header %}

{% block body %}

    {% include 'parts/header.html' %}
    <div class="simple-box circle">
        <div id="login-box">
            <h2>ورود</h2>
            <form action="#" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <input type="text" name="username" placeholder="نام کاربری">
                <input type="password" name="password" placeholder="رمز عبور">
                <input type="submit" value="ورود">
            </form>
            <span style="cursor: pointer;" onclick="javascript:show_register()">
                ثبت نام نکردی ؟
            </span>
        </div>
        <div id="register-box">
            <h2>ثبت نام</h2>
            <form action="#" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <input type="hidden" name="register" value="1">
                <input type="text" name="username" placeholder="نام کاربری">
                <input type="password" name="password" placeholder="رمز عبور">
                <input type="number" name="phone" placeholder="شماره تلفن">
                <textarea type="text" name="address" placeholder="آدرس دقیق پستی"></textarea>
                <input type="submit" value="ورود">
            </form>
            <span style="cursor: pointer;" onclick="javascript:show_login()">
                از قبل حساب داری ؟
            </span>
        </div>
    </div>

    <script>
        const register_box = document.getElementById("register-box");
        const login_box = document.getElementById("login-box");
        const show_register = () => {
            register_box.style.display = "block"
            login_box.style.display = "none"
        }
        const show_login = () => {
            register_box.style.display = "none"
            login_box.style.display = "block"
        }
    </script>
        
{% endblock body %}